# Environment
ENVIRONMENT=development

# Database
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=insurance_risk_db
POSTGRES_USER=insurance_user
POSTGRES_PASSWORD=CHANGE_ME_IN_PRODUCTION

# MLflow
MLFLOW_TRACKING_URI=http://localhost:5000
MLFLOW_EXPERIMENT_NAME=insurance-risk-intelligence

# API
API_HOST=0.0.0.0
API_PORT=8000

# Dashboard
DASHBOARD_PORT=8501

# Data
DATA_DIR=./data
RAW_DATA_DIR=./data/raw
PROCESSED_DATA_DIR=./data/processed
EXTERNAL_DATA_DIR=./data/external

# Logging
LOG_LEVEL=INFO
